extends ../../../pug/layout
block metaSize
	meta(name="ad.size", content='width=600,height=250')

block content
	#step-1.wrapper.white-state.centered-layout.step(data-order=1)
		.layout
			.main-container
				.frame1-container
					.title
						img(src="images/gifts-row.png", alt="", target="_blank")
						img(src="images/special.png", alt="", target="_blank").special
						img(src="images/gifts-row.png", alt="", target="_blank")
				.frame2-container
					.title
						img(src="images/cord-horizontal.png", alt="", target="_blank")
						img(src="images/cord-vertical.png", alt="", target="_blank")
				.frame3-container
					.title 
						img(src="images/voucher.png", alt="")
				.frame4-container
					.title 
						img(src="images/price.png", alt="")
						img(src="images/gift.png", alt="")
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

